packages:
  yum:
    postgresql95-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "aws-codepipeline-tutorial.settings.default"
    PYTHONPATH: "$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: aws-codepipeline-tutorial/wsgi.py